
* {
    margin: 0;
    padding: 0;
}

*::before, *::after {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#todo-heading {
    margin-top: 50px;
    font-size: 25px;
    margin-right: 180px;
}

#todo-form {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

#add-todo {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 10px;
    width: 250px;
    margin-bottom: 20px;
}

#save-todo {
    background-color: #515151;
    color: #ffffff;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#todo-container {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#t-container {
    position: relative;
    height: 100%;
}

.todo-list {
    position: absolute;
    top: 70px;
    width: 100%;
    height: 200px;  
    overflow-y: auto;
}

.todo-item {
    border: 1.5px solid #c6c4c4;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.5s ease;
}

.todo-item.show {
    opacity: 1;
    transform: translateY(0);
}

.todo-details {
    display: flex;
    gap: 10px;
    justify-content: start;
}

.todo-status {
    order: -2;
}

.remove-btn {
    border: none;
    background: none;
    font-weight: 700;
}

.quote {
    font-style: italic;
    color: #979898;
    font-size: 14px;
}

#remaining-todos, #sort-dropdown {
    display: none;
}

#sort-dropdown {
    position: absolute;
    width: 140px;
    padding: 4px 10px;
    border-radius: 4px;
    text-align: center;
    margin-left: 150px;
    z-index: 10;
}

#sort-heading {
    background-color: #515151; 
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.sort-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: #ffffff; 
    border-bottom: #515151;
    border-left: #515151;
    border-right: #515151;
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.hidden {
    display: none;
}

.sort-list-item { 
    padding: 8px;
}

.sort-list-item:hover { 
    background-color: #aeadad;
    color: #ffffff;
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    #todo-heading {
        margin-top: 50px;
        font-size: 25px;
        margin-right: 300px;
    }
    
    #add-todo {
        width: 370px;
    }

    #todo-container {
        width: 420px;
    }
    
    #sort-dropdown {
        margin-left: 270px;
    }
}